DEBUG=debug

SECRET_KEY="SECRET_KEY"

ALLOWED_HOSTS=localhost,127.0.0.1

CSRF_TRUSTED_ORIGINS=http://localhost,https://localhost,http://www.localhost,https://www.localhost

# sqlite or postgres
DATABASE_TYPE="type"

POSTGRES_NAME="db"
POSTGRES_USER="user"
POSTGRES_PASSWORD="pass"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"